p {
    color: rgba(151, 228, 202);
    font-family: 'Poppins';
    font-size: 1.2em;
}
#badge{
    
height: 60px;
margin-left: 75%;
}
h5{
    color: #D1CB7A;
    margin-top: 0;
    margin-bottom: 0;

}
h3{
    color: #332519;
    margin-left: 3%;

}
.about-title{
padding: 2%;
margin-bottom: 2%;
}
.work{
    margin-top: 3%;
}
.personal, school-title, .work {
    margin: 2%;
    
}
p {
    line-height: 2.6rem;
}
