.card-wrap  {
	position: relative;
	width: 100%;
	height: 625px;
	z-index: 11;
	border-radius: 4px;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	-khtml-border-radius: 4px;
	
}

.card-wrap :before {
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	border-radius: 0 0 4px 0;
	-moz-border-radius: 0 0 4px 0;
	-webkit-border-radius: 0 0 4px 0;
	-khtml-border-radius: 0 0 4px 0;
}

.card-wrap :after {
	content: '';
	position: relative;
	left: -15px;
	top: -15px;
	width: 100%;
	height: 100%;
	border-radius: 4px;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	-khtml-border-radius: 4px;
	margin-top: 5%;
	background-image: url(./../images/greige-background.jpg);
}

form{
    margin: 5%;
}

.info-list ul li strong {
	display: inline-block;
	font-size: 13px;
	color: rgba(151, 228, 202);
	font-weight: 300;
	padding: 0;
	width: 100%;
	margin-top: 2%;
}
#info{
	padding:0;
	font-size: 18px;
}
.title{
    color: rgba(151, 228, 202);
}
.col {
    background-image: url(./../images/greige-background.jpg);
}
h2, h3{
	color:rgba(151, 228, 202);
	text-align: center;	
}

.btn{
    background: -moz-linear-gradient(-45deg, rgba(151, 228, 202, 0.4) 0%, rgba(151, 228, 202, 0.4) 100%);
	background: -webkit-linear-gradient(-45deg, rgba(151, 228, 202, 0.4) 0%, rgba(46, 202, 127, 0.01) 100%);
	background: linear-gradient(135deg, rgba(151, 228, 202, 0.4) 0%, rgba(46, 202, 127, 0.01) 100%);
    color: rgba(151, 228, 202);
	border: -moz-linear-gradient(-45deg, rgba(151, 228, 202, 0.4) 0%, rgba(151, 228, 202, 0.4) 100%);
	border: -webkit-linear-gradient(-45deg, rgba(151, 228, 202, 0.4) 0%, rgba(46, 202, 127, 0.01) 100%);
	border: linear-gradient(135deg, rgba(151, 228, 202, 0.4) 0%, rgba(46, 202, 127, 0.01) 100%);
	float: right;
	height: 50px;
	width: 100px;
	margin: 5%;
}
.btn:hover{
    background-color: rgba(151, 228, 202);
}
.btn:active, .btn:visited, .btn:focus {
	text-decoration: none;
	background: -moz-linear-gradient(-45deg, rgba(151, 228, 202, 0.4) 0%, rgba(151, 228, 202, 0.4) 100%);
	background: -webkit-linear-gradient(-45deg, rgba(151, 228, 202, 0.4) 0%, rgba(46, 202, 127, 0.01) 100%);
	background: linear-gradient(135deg, rgba(151, 228, 202, 0.4) 0%, rgba(46, 202, 127, 0.01) 100%); 
	border: -moz-linear-gradient(-45deg, rgba(151, 228, 202, 0.4) 0%, rgba(151, 228, 202, 0.4) 100%);
	border: -webkit-linear-gradient(-45deg, rgba(151, 228, 202, 0.4) 0%, rgba(46, 202, 127, 0.01) 100%);
	border: linear-gradient(135deg, rgba(151, 228, 202, 0.4) 0%, rgba(46, 202, 127, 0.01) 100%);
}
.form-control{
	background-image: url(./../images/greige-background.jpg);
    border: none;
	border-bottom: 1px solid #626262;
	box-shadow: rgba(0, 0, 0, 0.05);
	color: #D1CB7A;
}
.form-control:active, .form-control:focus{
	box-shadow: rgba(151, 228, 202);
}
.map {
    margin-bottom: 2%;
}
.far {
    color: rgba(151, 228, 202);
}
label{
	color: rgba(151, 228, 202, .01);
}
.form-control:focus {
    border-color: rgba(151, 228, 202);
    border-top-color: rgba(151, 228, 202);
    border-right-color: rgba(151, 228, 202);
    border-bottom-color: rgba(151, 228, 202);
    border-left-color: rgba(151, 228, 202);
    outline: 0;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(151, 228, 202,.6);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(151, 228, 202,.6);
}
.modal-enter-active,
.modal-leave-active { transition: opacity 350ms }

.modal-enter,
.modal-leave-to { opacity: 0 }

.modal-leave,
.modal-enter-to { opacity: 1 }

#myModal {
	position: absolute;
	word-wrap: normal;
	overflow: auto;
	overflow-y: auto;
	background-image: url(./../images/greige-background.jpg);
	text-align: center;
	padding: 3%;
 }
 #emailHelp{
	 color: rgba(151, 228, 202, .75);	 
 }

.btn-primary, .btn-primary:focus, .btn-primary:active, .btn-primary:target {
	background-image: -moz-linear-gradient(-45deg, rgba(151, 228, 202, 0.4) 0%, rgba(151, 228, 202, 0.4) 100%);
	background-image: -webkit-linear-gradient(-45deg, rgba(151, 228, 202, 0.4) 0%, rgba(46, 202, 127, 0.01) 100%);
	background-image: linear-gradient(135deg, rgba(151, 228, 202, 0.4) 0%, rgba(46, 202, 127, 0.01) 100%); 
    background-repeat: repeat-x;
    border-color: #685E55
}
.modal-content{
	background-color: 333;
	padding: 3%;
	width: 95%;
	left: 0;
	margin-right: 3%;
}
.modal-header , .modal-body, .modal-footer{
	background-image: url(./../images/greige-background.jpg);
	padding: 3%,
}
#exampleInputInfo::placeholder{
	color:rgba(151, 228, 202);
	text-align: center;
}
h4 {
	color: rgba(151, 228, 202);
}
#submit:focus, #submit:active{
	outline: none;
	border: rgba(151, 228, 202);
	background-image: -moz-linear-gradient(-45deg, rgba(151, 228, 202, 0.4) 0%, rgba(151, 228, 202, 0.4) 100%);
	background-image: -webkit-linear-gradient(-45deg, rgba(151, 228, 202, 0.4) 0%, rgba(46, 202, 127, 0.01) 100%);
	background-image: linear-gradient(135deg, rgba(151, 228, 202, 0.4) 0%, rgba(46, 202, 127, 0.01) 100%); 
}
#submit:focus :active {
	background-image: -moz-linear-gradient(-45deg, rgba(151, 228, 202, 0.4) 0%, rgba(151, 228, 202, 0.4) 100%);
	background-image: -webkit-linear-gradient(-45deg, rgba(151, 228, 202, 0.4) 0%, rgba(46, 202, 127, 0.01) 100%);
	background-image: linear-gradient(135deg, rgba(151, 228, 202, 0.4) 0%, rgba(46, 202, 127, 0.01) 100%); 	
}
