

/* TABLE OF CONTENTS
	1. Base
	2. Container
	3. Columns
	4. Preloader
	5. Typography
	6. Forms
	7. Alignments
	8. Animations
*/

/*
	1. Header
*/

.header {
	position: absolute;
	left: -80px;
	top: 15px;
	width: 72px;
	z-index: 100;
	text-align: center;
	opacity: 1;
	visibility: visible;
	background-image: url(../images/background/greige-background.jpg);
	border-radius: 4px;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	-khtml-border-radius: 4px;
}

.header.active {
	opacity: 1!important;
	visibility: visible!important;
}

.header .top-menu {
	width: 100%;
	font-size: 0;
}

.header .top-menu ul li {
	display: block;
	transition: color 0.3s ease 0s;
	-moz-transition: color 0.3s ease 0s;
	-webkit-transition: color 0.3s ease 0s;
	-o-transition: color 0.3s ease 0s;
}

.header .top-menu ul li:first-child a {
	border-radius: 4px 4px 0 0;
	-moz-border-radius: 4px 4px 0 0;
	-webkit-border-radius: 4px 4px 0 0;
	-khtml-border-radius: 4px 4px 0 0;
}

.header .top-menu ul li:last-child a {
	border-radius: 0 0 4px 4px;
	-moz-border-radius: 0 0 4px 4px;
	-webkit-border-radius: 0 0 4px 4px;
	-khtml-border-radius: 0 0 4px 4px;
	border: none;
}

.header .top-menu ul li:last-child a:before {
	display: none;
}

.header .top-menu ul li a {
	position: relative;
	overflow: hidden;
	display: block;
	height: 72px;
	color: #171717;
	text-align: center;
	background: linear-gradient(135deg, rgb(209,203,122,0.65) 0%, rgba(123, 235, 198, 0.45) 100%);;
}

.header .top-menu ul li a:before {
	content: '';
	position: absolute;
	left: 0;
	bottom: 0;
	width: 100%;
	height: 1px;
	background: -moz-radial-gradient(right, ellipse cover, rgba(197, 202, 213, 0.7) 0%, rgba(255, 255, 255, 0) 70%);
	background: -webkit-radial-gradient(right, ellipse cover, rgba(197, 202, 213, 0.7) 0%, rgba(255, 255, 255, 0) 70%);
	background: radial-gradient(ellipse at right, rgba(197, 202, 213, 0.7) 0%, rgba(255, 255, 255, 0) 70%);
}

.header .top-menu ul li a .icon {
	margin: -27px 0 0 -20px;
	position: absolute;
	top: 50%;
	left: 50%;
	width: 72px;
	height: 72px;
	font-size: 20px;
	color: #171717;
	line-height: 40px;
	border-radius: 30px;
	text-shadow: 1px 1px 2px #171717;
	-moz-border-radius: 30px;
	-webkit-border-radius: 30px;
	-khtml-border-radius: 30px;
	transition: all 0.3s ease 0s;
	-moz-transition: all 0.3s ease 0s;
	-webkit-transition: all 0.3s ease 0s;
	-o-transition: all 0.3s ease 0s;
}

.header .top-menu ul li a .link {
	position: absolute;
	left: 0;
	top: 57%;
	width: 100%;
	display: block;
	font-size: 11px;
	font-weight: 500;
	text-transform: uppercase;
	transition: all 0.3s ease 0s;
	-moz-transition: all 0.3s ease 0s;
	-webkit-transition: all 0.3s ease 0s;
	-o-transition: all 0.3s ease 0s;
}

.header .top-menu ul li:hover a,
.header .top-menu ul li.active a {
	color: #626262
}

.header .top-menu ul li:hover a .icon,
.header .top-menu ul li.active a .icon,
.header .top-menu ul li:hover a .link,
.header .top-menu ul li.active a .link {
	color: #626262
}

@media (max-width: 1023px) {
	.header {
		position: fixed;
		left: 0;
		top: -4px;
		width: 100%;
		height: 72px;
		display: flex;
		align-items: center;
		justify-content: center;
	}

	.header .top-menu {
		margin: 0 auto;
		max-width: 540px;
		display: flex;
		box-shadow: 0 0 25px rgba(0, 0, 0, 0.05);
	}

	.header .top-menu ul {
		display: flex;
		width: 100%;
	}

	.header .top-menu ul li {
		display: block;
		width: 100%;
	}

	.header .top-menu ul li:first-child a {
		border-radius: 4px 0 0 4px;
		-moz-border-radius: 4px 0 0 4px;
		-webkit-border-radius: 4px 0 0 4px;
		-khtml-border-radius: 4px 0 0 4px;
	}

	.header .top-menu ul li:last-child a {
		border-radius: 0 4px 4px 0;
		-moz-border-radius: 0 4px 4px 0;
		-webkit-border-radius: 0 4px 4px 0;
		-khtml-border-radius: 0 4px 4px 0;
	}

	.header .top-menu ul li a:before {
		content: '';
		position: absolute;
		left: 0;
		bottom: 0;
		width: 1px;
		height: 100%;
		background: -moz-radial-gradient(top, ellipse cover, rgba(197, 202, 213, 0.7) 0%, rgba(255, 255, 255, 0) 70%);
		background: -webkit-radial-gradient(top, ellipse cover, rgba(197, 202, 213, 0.7) 0%, rgba(255, 255, 255, 0) 70%);
		background: radial-gradient(ellipse at top, rgba(197, 202, 213, 0.7) 0%, rgba(255, 255, 255, 0) 70%);
	}

}

@media (max-width: 560px) {
	.header {
		padding: 0 5px;
		width: 100%;
	}

	.header .top-menu {
		max-width: 100%;
	}

}

/*
	2. Card - Started
*/
.card-started {
	position: relative;
	width: 110%;
	height: 650px;
	z-index: 11;
	border-radius: 4px;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	-khtml-border-radius: 4px;
}

.card-started:before {
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	box-shadow: 10px 10px 15px rgba(0, 0, 0, 0.05);
	border-radius: 0 0 4px 0;
	-moz-border-radius: 0 0 4px 0;
	-webkit-border-radius: 0 0 4px 0;
	-khtml-border-radius: 0 0 4px 0;
}

.card-started:after {
	content: '';
	position: absolute;
	left: -15px;
	top: -15px;
	width: 100%;
	height: 100%;
	background: -moz-linear-gradient(-45deg, rgba(46, 202, 127, 0.4) 0%, rgba(46, 202, 127, 0.01) 100%);
	background: -webkit-linear-gradient(-45deg, rgba(46, 202, 127, 0.4) 0%, rgba(46, 202, 127, 0.01) 100%);
	background: linear-gradient(135deg, rgba(46, 202, 127, 0.4) 0%, rgba(46, 202, 127, 0.01) 100%);
	border-radius: 4px;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	-khtml-border-radius: 4px;
}

.card-started .profile {
	padding: 210px 50px 50px 50px;
	position: relative;
	height: 100%;
	width: 105%;
	background: linear-gradient(135deg, rgb(209,203,122,0.65) 0%, rgba(123, 235, 198, 0.45) 100%);;
	text-align: center;
	z-index: 10;
	border-radius: 4px;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	-khtml-border-radius: 4px;
}

@media (max-width: 560px){
	.card-started .profile {
		width: 100%;
	}
}

.card-started .profile .slide {
	position: absolute;
	overflow: hidden;
	left: 0;
	top: 0;
	width: 100%;
	height: 300px;
	background-color: #626262;
	background-repeat: no-repeat;
	background-position: center center;
	background-size: cover;
	border-radius: 4px 4px 0 0;
	-moz-border-radius: 4px 4px 0 0;
	-webkit-border-radius: 4px 4px 0 0;
	-khtml-border-radius: 4px 4px 0 0;
}

.card-started .profile .slide:before,
.card-started .profile .slide:after {
	content: '';
	position: absolute;
	left: -25%;
	bottom: -198px;
	width: 700px;
	height: 200px;
	background: linear-gradient(135deg, rgb(209,203,122,0.65) 0%, rgba(123, 235, 198, 0.45) 100%);;
	transform: rotate(12deg);
	-webkit-transform: rotate(12deg);
	-moz-transform: rotate(12deg);
	-o-transform: rotate(12deg);
}

.card-started .profile .slide:after {
	left: auto;
	right: -25%;
	transform: rotate(-6deg);
	-webkit-transform: rotate(-6deg);
	-moz-transform: rotate(-6deg);
	-o-transform: rotate(-6deg);
}

.card-started .profile .image {
	margin: 0px 0 20px 0;
	position: relative;
	display: inline-block;
	width: 140px;
}

.card-started .profile .image:before {
	content: '';
	position: absolute;
	top: 10px;
	left: -10px;
	width: 100%;
	height: 100%;
	background: -moz-linear-gradient(-45deg, rgba(46, 202, 127, 0.4) 0%, rgba(46, 202, 127, 0.01) 100%);
	background: -webkit-linear-gradient(-45deg, rgba(46, 202, 127, 0.4) 0%, rgba(46, 202, 127, 0.01) 100%);
	background: linear-gradient(135deg, rgba(46, 202, 127, 0.4) 0%, rgba(46, 202, 127, 0.01) 100%);
	border-radius: 100%;
	-moz-border-radius: 100%;
	-webkit-border-radius: 100%;
	-khtml-border-radius: 100%;
}

.card-started .profile .image img {
	position: relative;
	display: block;
	width: 100%;
	height: auto;
	border: 3px solid #685E55;
	border-radius: 100%;
	-moz-border-radius: 100%;
	-webkit-border-radius: 100%;
	-khtml-border-radius: 100%;
}

.card-started .profile .title {
	margin: 0px 0 10px 0;
	font-size: 40px;
	text-shadow: 2px 2px 2px #171717;
	color: #d1cb7a;
	line-height: 40px;
	font-weight: 400;
}

.card-started .profile .subtitle {
	margin: 0 0 15px 0;
	font-size: 20px;
	color: #626262;
	line-height: 20px;
	font-weight: 400;
	text-shadow: 1px 2px 2px #171717;
}

.card-started .profile .social a {
	margin: 0 6px;
	display: inline-block;
	vertical-align: middle;
}

.card-started .profile .social a .ion, .card-started .profile .social a .fab, .card-started .profile .social a .fas {
	font-size: 16px;
	color: #171717;
	transition: all 0.3s ease 0s;
	-moz-transition: all 0.3s ease 0s;
	-webkit-transition: all 0.3s ease 0s;
	-o-transition: all 0.3s ease 0s;
	text-shadow: 1px 2px 2px #171717;
}

.card-started .profile .social a:hover .ion, .card-started .profile .social a:hover .fab, .card-started .profile .social a:hover .fas {
	color: #626262;
}

.card-started .profile .lnk.active.discover .arrow {
	transform: scaleX(-1);
	-webkit-transform: scaleX(-1);
	-moz-transform: scaleX(-1);
	-o-transform: scaleX(-1);
}

@media (max-width: 560px) {
	.card-started {
		height: 480px;
	}

	.card-started:after {
		display: none;
	}

	.card-started .profile {
		padding: 135px 25px 25px 25px;
	}

	.card-started .profile.no-photo {
		padding-top: 250px;
	}

	.card-started .profile .slide {
		height: 200px;
	}

	.card-started .profile .image {
		margin: 0 0 15px 0;
		width: 124px;
	}

	.card-started .profile .title {
		font-size: 28px;
		line-height: 28px;
	}

}

/*
	3. Cards
*/
.card-inner {
	padding: 0;
	position: absolute;
	overflow: hidden;
	left: 106%;
	top: 15px;
	width: 120%;
	height: 620px;
	background: linear-gradient(135deg, rgb(209,203,122,0.65) 0%, rgba(123, 235, 198, 0.45) 100%);;
	transform-origin: center left;
	opacity: 0;
	visibility: hidden;
	z-index: 8;
	border-radius: 4px;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	-khtml-border-radius: 4px;
	transition: visibility 1s linear, opacity 0.5s linear;
	-moz-transition: visibility 1s linear, opacity 0.5s linear;
	-webkit-transition: visibility 1s linear, opacity 0.5s linear;
	-o-transition: visibility 1s linear, opacity 0.5s linear;
}

.card-inner.animated {
	opacity: 1;
	visibility: visible;
	z-index: 9;
}

.card-inner.active {
	opacity: 1;
	visibility: visible;
	z-index: 10;
}

.card-inner.hidden {
	opacity: 0;
	visibility: hidden;
	z-index: 9;
}

.card-inner:before,
.card-inner:after {
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	right: 20px;
	background: linear-gradient(135deg, rgb(209,203,122,0.65) 0%, rgba(123, 235, 198, 0.45) 100%);;
	z-index: 10;
}

.card-inner:after {
	top: auto;
	bottom: 0;
}

.card-inner .card-wrap {
	padding: 30px 30px 30px 60px;
	position: relative;
	overflow-x: hidden;
	height: 100%;
}

@media (max-width: 1072px) {
	.card-inner {
		width: 115%;
	}

}

@media (max-width: 1023px) {
	.card-inner {
		position: relative;
		margin: 15px 0;
		left: 0;
		top: 0;
		width: auto;
		height: auto;
		opacity: 1;
		visibility: visible;
	}

	.card-inner .card-wrap {
		padding: 30px 30px 30px 40px;
		overflow: visible;
		height: auto;
	}

	.card-inner:last-child {
		margin-bottom: 50px;
	}

}

@media (max-width: 560px) {
	.card-inner {
		margin: 10px 0;
	}

	.card-inner .card-wrap {
		padding: 30px;
	}

	.card-inner:last-child {
		margin-bottom: 10px;
	}

}

/* content */
.content {
	margin: 0 0 60px 0;
	position: relative;
}

.content:last-child {
	margin-bottom: 0;
}

.content .title {
	margin: 0 0 15px 0;
	padding: 0 0 5px 0;
	position: relative;
	font-size: 17px;
	color: #171717;
	line-height: 21px;
	font-weight: 500;
}

.content .title:before {
	content: '';
	position: absolute;
	left: -12px;
	top: 0;
	width: 30px;
	height: 30px;
	background: -moz-linear-gradient(-45deg, rgba(46, 202, 127, 0.4) 0%, rgba(46, 202, 127, 0.01) 100%);
	background: -webkit-linear-gradient(-45deg, rgba(46, 202, 127, 0.4) 0%, rgba(46, 202, 127, 0.01) 100%);
	background: linear-gradient(135deg, rgba(46, 202, 127, 0.4) 0%, rgba(46, 202, 127, 0.01) 100%);
	z-index: -1;
	border-radius: 30px;
	-moz-border-radius: 30px;
	-webkit-border-radius: 30px;
	-khtml-border-radius: 30px;
}

.content .title:after {
	content: '';
	position: absolute;
	left: -60px;
	bottom: -15px;
	width: 95%;
	height: 1px;
	background: -moz-radial-gradient(left, ellipse cover, rgba(197, 202, 213, 0.7) 0%, rgba(255, 255, 255, 0) 70%);
	background: -webkit-radial-gradient(left, ellipse cover, rgba(197, 202, 213, 0.7) 0%, rgba(255, 255, 255, 0) 70%);
	background: radial-gradient(ellipse at left, rgba(197, 202, 213, 0.7) 0%, rgba(255, 255, 255, 0) 70%);
}

/*
	4. Card - About
*/
/* 4.1 About */
.info-list {
	background: linear-gradient(135deg, rgb(209,203,122,0.65) 0%, rgba(123, 235, 198, 0.45) 100%);
	height: 100px;
	padding-top: 10px;
	padding-left: 10px;
	border: 10px double #3e4148;
	
}

.info-list ul li {
	display: inline-block;
	width: 39%;
	line-height: 1.6;
}
.info-list ul #big{
	display: inline-block;
	width: 59%;
	line-height: 1.6;
}

.info-list ul li strong {
	display: inline-block;
	font-size: 13px;
	color: #171717;
	font-weight: 500;
	text-transform: uppercase;
}

@media (max-width: 560px) {
	.info-list ul li {
		display: block;
		font-size: 13px;
		width: auto;
	}

}


/* 4.4 Fun Fact */
.fuct-items {
	font-size: 0;
}

.fuct-items .fuct-item {
	position: relative;
	text-align: center;
}

.fuct-items .fuct-item .icon {
	margin: 0 auto;
	width: 60px;
	height: 60px;
	text-align: center;
	font-size: 32px;
	color: #626262
}

.fuct-items .fuct-item .icon .ion, .fuct-items .fuct-item .icon .fab, .fuct-items .fuct-item .icon .fas {
	display: block;
	line-height: 60px;
}

.fuct-items .fuct-item .name {
	margin: 0;
	font-size: 13px;
	color: #171717;
	font-weight: 500;
	text-transform: uppercase;
}

/* 4.5 Clients */
.client-items {
	font-size: 0;
	text-align: center;
}

.client-items .client-item img {
	max-width: 100%;
	opacity: 0.4;
}

/*
	5. Resume
*/
.resume-title,
.skill-title {
	padding: 0 0 20px 0;
	position: relative;
}

.resume-title:after,
.skill-title:after {
	left: -20px;
}

.resume-title .icon,
.skill-title .icon {
	position: relative;
	top: -15px;
	float: left;
	width: 40px;
	height: 40px;
	font-size: 32px;
	color: #626262;
	background: linear-gradient(135deg, rgb(209,203,122,0.65) 0%, rgba(123, 235, 198, 0.45) 100%);;
}

.resume-title .icon .ion,
.skill-title .icon .ion,
.resume-title .icon .fab,
.skill-title .icon .fab,
.resume-title .icon .fas,
.skill-title .icon .fas {
	display: block;
	line-height: 40px;
}

.resume-title .name,
.skill-title .name {
	margin: 0 0 0 40px;
	font-size: 13px;
	line-height: 13px;
	color: #171717;
	text-shadow: 1px 1px 2px #171717;
	font-weight: 500;
	text-transform: uppercase;
}

/* 5.1 Resume */
.resume-items .resume-item {
	position: relative;
	padding: 20px 0 20px 0;
}

.resume-items .resume-item:after {
	left: -20px;
}

.resume-items .resume-item.active .date {
	color: #626262
}

.resume-items .resume-item.active .date:before {
	background: #626262
}

.resume-items .resume-item .date {
	margin: 0 0 10px 0;
	padding: 0;
	position: relative;
	display: inline-block;
	font-size: 11px;
	line-height: 18px;
	color: #d8dbe2;
	font-weight: 500;
	text-transform: uppercase;
	border-radius: 4px;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	-khtml-border-radius: 4px;
}

.resume-items .resume-item .date:before {
	content: '';
	position: absolute;
	left: -25px;
	top: 4px;
	width: 9px;
	height: 9px;
	background: #d8dbe2;
	border-radius: 9px;
	-moz-border-radius: 9px;
	-webkit-border-radius: 9px;
	-khtml-border-radius: 9px;
}

.resume-items .resume-item .name {
	margin: 0;
	font-size: 13px;
	color: #171717;
	font-weight: 500;
	text-transform: uppercase;
}

.resume-items .resume-item .company {
	margin: 0 0 10px 0;
	font-size: 11px;
	color: #999999;
	font-weight: 300;
	text-transform: uppercase;
}

.resume-items .resume-item p {
	margin: 0;
}

/* 5.2 Skills */
.skills-list ul {
	margin: 0;
	padding: 0;
	list-style: none;
}

.skills-list ul li {
	position: relative;
	padding: 20px 0;
}

.skills-list ul li:after {
	left: -20px;
}

.skills-list ul li .name {
	margin: 0 0 8px 0;
	font-size: 14px;
	line-height: 14px;
	color: #626262;
}

.skills-list ul li .progress {
	position: relative;
	display: block;
	width: 100%;
	height: 4px;
	background: #d8dbe2;
}

.skills-list ul li .progress .percentage {
	position: absolute;
	left: 0;
	top: 0;
	width: 0%;
	height: 100%;
	background: #626262;
	transition: all 0.3s ease 0s;
	-moz-transition: all 0.3s ease 0s;
	-webkit-transition: all 0.3s ease 0s;
	-o-transition: all 0.3s ease 0s;
}
/* 
5.3 language
*/
.fuct-items .fuct-item .lang {
	margin: 1px;
	position: relative;
	display: inline-block;
	width: 95px;
	height: 95px;
	line-height: 60px;
	border: 7px double #3e4148;
}

.fuct-items .fuct-item .lang1 :hover{
	animation: flip 1s infinite;
}

.fuct-items .fuct-item .lang2 :hover{
	animation: jello 1s infinite;
}

.fuct-items .fuct-item .lang3 :hover{
	animation: rubberBand 1s infinite;
}

.fuct-items .fuct-item .lang4 :hover{
	animation: shake 1s infinite;
}

.fuct-items .fuct-item .lang5 :hover{
	animation: swing 1s infinite;
}

.fuct-items .fuct-item .lang6 :hover{
	animation: tada 1s infinite;
}

.fuct-items .fuct-item .lang7 :hover{
	animation: wobble 1s infinite;
}



#typed {
	width: 100%;
	height: 120px;
	
}

.language-list {
	line-height: 50px;
	font-family: 'Rock Salt', cursive;
	text-align: center;
	font-size: 40px;
	color: #3e4148;
	position: absolute;
	top: 55px;
	right: 0;
	bottom: 0;
	left: 0;
	margin: auto;
}

/*
	6. Works
*/
.content.works .filter-menu {
	position: absolute;
	top: -9px;
	bottom: 15px;
	right: 0px;
}

.content.works .filter-menu .f_btn {
	margin: 0 0 0 15px;
	padding: 0;
	position: relative;
	display: inline-block;
	vertical-align: top;
	height: 40px;
	line-height: 40px;
	font-size: 1px;
	cursor: pointer;
	border: none;
}

.content.works .filter-menu .f_btn.active {
	color: #626262
}

.content.works .filter-menu .f_btn label {
	cursor: pointer;
}

.content.works .grid-items.border-line-v:after {
	margin: 0 0 0 -1px;
	content: '';
	position: absolute;
	left: 50%;
	top: 0;
	width: 1px;
	height: 100%;
	background: -moz-radial-gradient(top, ellipse cover, rgba(197, 202, 213, 0.7) 0%, rgba(255, 255, 255, 0) 70%);
	background: -webkit-radial-gradient(top, ellipse cover, rgba(197, 202, 213, 0.7) 0%, rgba(255, 255, 255, 0) 70%);
	background: radial-gradient(ellipse at top, rgba(197, 202, 213, 0.7) 0%, rgba(255, 255, 255, 0) 70%);
}

@media (max-width: 560px) {
	.content.works .title {
		padding: 0 0 45px 0;
	}

	.content.works .filter-menu {
		top: 35px;
		left: 0;
		right: auto;
	}

	.content.works .filter-menu button {
		margin: 0 15px 0 0;
	}

	.content.works .grid-items.border-line-v:after {
		display: none;
	}

}

/* 6.1 Box Items */
.box-item {
	position: relative;
	overflow: hidden;
	text-align: center;
}

.box-item .image {
	position: relative;
}

.box-item .image a {
	display: block;
	font-size: 0;
}

.box-item .image a img {
	position: relative;
	width: 100%;
	height: auto;
}

.box-item .image .info {
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	display: block;
	opacity: 0;
	text-align: center;
	transition: all 0.3s ease 0s;
	-moz-transition: all 0.3s ease 0s;
	-webkit-transition: all 0.3s ease 0s;
	-o-transition: all 0.3s ease 0s;
}

.box-item .image .info:before {
	content: '';
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	background: -moz-linear-gradient(-45deg, rgba(46, 202, 127, 0.4) 0%, rgba(46, 202, 127, 0.01) 100%);
	background: -webkit-linear-gradient(-45deg, rgba(46, 202, 127, 0.4) 0%, rgba(46, 202, 127, 0.01) 100%);
	background: linear-gradient(135deg, rgba(46, 202, 127, 0.4) 0%, rgba(46, 202, 127, 0.01) 100%);
	transition: all 0.3s ease 0s;
	-moz-transition: all 0.3s ease 0s;
	-webkit-transition: all 0.3s ease 0s;
	-o-transition: all 0.3s ease 0s;
}
.box-item .image:hover {
	animation: flip 1.5s;
}

.box-item .image .info .ion, .box-item .image .info .fab, .box-item .image .info .fas {
	margin: -16px 0 0 -16px;
	position: absolute;
	left: 50%;
	top: 50%;
	width: 32px;
	height: 32px;
	font-size: 32px;
	line-height: 32px;
	color: linear-gradient(135deg, rgb(209,203,122,0.65) 0%, rgba(123, 235, 198, 0.45) 100%);;
	transition: all 0.1s ease-in 0.4s;
	-moz-transition: all 0.1s ease-in 0.4s;
	-webkit-transition: all 0.1s ease-in 0.4s;
	-o-transition: all 0.1s ease-in 0.4s;
}

.box-item .desc {
	padding: 15px 45px 0 45px;
	position: relative;
}

.box-item .desc .name {
	padding: 0 0 2px 0;
	display: block;
	font-size: 13px;
	color: #171717;
	font-weight: 500;
	text-transform: uppercase;
}

.box-item .desc .category {
	margin: 0;
	font-size: 11px;
	color:rgba(51,37,25,0.85);
	font-weight: 300;
	text-transform: uppercase;
}

.box-item .date {
	padding: 10px 0 0 0;
	position: absolute;
	left: 20px;
	bottom: 20px;
	width: 50px;
	height: 50px;
	font-size: 11px;
	line-height: 11px;
	color: #171717;
	text-align: center;
	font-weight: 500;
	text-transform: uppercase;
	background: linear-gradient(135deg, rgb(209,203,122,0.65) 0%, rgba(123, 235, 198, 0.45) 100%);;
}

.box-item .date strong {
	display: block;
	font-size: 20px;
	line-height: 20px;
	color: #171717;
	font-weight: 700;
}

.box-item:hover .image .info {
	opacity: 1;
}

/*
	6. Contacts
*/
.content.contacts .map {
	margin: 10px 0 20px 20%;
	height: 265px;
	width: 265px;
	border: 20px double #3e4148;
}

.alert-success {
	display: none;
}

.alert-success p {
	margin: 0;
	font-size: 17px;
}

/*
	7. Popups
*/
.mfp-wrap.popup-box-inline {
	margin: 0 0 0 -360px;
	padding: 0;
	top: 0;
	left: 50%;
	overflow: auto;
	width: 720px;
	height: 100%;
	background: linear-gradient(135deg, rgb(209,203,122,0.65) 0%, rgba(123, 235, 198, 0.45) 100%);;
}

.mfp-wrap.popup-box-inline .mfp-container {
	padding: 0;
	position: relative;
	height: auto;
}

.mfp-wrap.popup-box-inline .content {
	margin-bottom: 40px;
}

.mfp-wrap.popup-box-inline .image {
	padding: 0 0 40px 0;
	font-size: 0;
}

.mfp-wrap.popup-box-inline .image img {
	width: 100%;
	height: auto;
}

.mfp-wrap.popup-box-inline .desc {
	padding: 0 40px;
}

.mfp-wrap.popup-box-inline .desc .post-box .blog-content {
	margin: 0;
}

.mfp-wrap.popup-box-inline .desc .lnk,
.mfp-wrap.popup-box-inline .desc .button {
	height: 30px;
	line-height: 30px;
}

@media (max-width: 720px) {
	.mfp-wrap.popup-box-inline {
		left: 0;
		width: 100%;
		margin: 0;
		padding: 0 10px;
	}

}

.mfp-wrap.popup-box .mfp-close,
.mfp-wrap.popup-box-inline .mfp-close {
	padding: 0;
	right: -54px;
	top: 0;
	width: 54px;
	height: 54px;
	line-height: 54px;
	font-family: 'Poppins';
	color: linear-gradient(135deg, rgb(209,203,122,0.65) 0%, rgba(123, 235, 198, 0.45) 100%);;
	font-size: 42px;
	font-weight: 300;
	text-align: center;
	opacity: 1;
}

@media (max-width: 720px) {
	.mfp-wrap.popup-box .mfp-close,
	.mfp-wrap.popup-box-inline .mfp-close {
		right: 0;
		top: -54px;
	}

}

.mfp-wrap.popup-box-inline .mfp-close {
	top: 0;
	right: 0;
	color: #171717;
}

@media (max-width: 720px) {
	.mfp-wrap.popup-box-inline .mfp-close {
		right: 0;
		top: 0;
	}

}

.card-inner.blog-post {
	-webkit-animation: none;
	animation: none;
}

.scroll-container {
	margin-left: 47%;
	width: 24px;
	height: 24px;
	position: -webkit-sticky; /* Safari */
	position: sticky;
	bottom: 5%;
  }
  @media (max-width: 1024px){
	.scroll-container {
		visibility: hidden;
	} 
  }
  
  .chevron {
	position: absolute;
	width: 28px;
	height: 8px;
	opacity: 0;
	transform: scale3d(0.5, 0.5, 0.5);
	animation: moveDown 3s ease-out infinite;
  }
  
  .chevron:first-child {
	animation: moveDown 3s ease-out 1s infinite;
  }
  
  .chevron:nth-child(2) {
	animation: moveDown 3s ease-out 2s infinite;
  }
  
  .chevron:before,
  .chevron:after {
	content: ' ';
	position: absolute;
	top: 0;
	height: 100%;
	width: 51%;
	background: rgba(123, 235, 198, 0.45) ;
  }
  
  .chevron:before {
	left: 0;
	transform: skew(0deg, 30deg);
  }
  
  .chevron:after {
	right: 0;
	width: 50%;
	transform: skew(0deg, -30deg);
  }
  
  .chevronUp {
	position: absolute;
	width: 28px;
	height: 8px;
	opacity: 0;
	transform: scale3d(0.5, 0.5, 0.5);
	animation: moveUp 3s ease-out infinite;
  }
  
  .chevronUp:first-child {
	animation: moveUp 3s ease-out 1s infinite;
  }
  
  .chevronUp:nth-child(2) {
	animation: moveUp 3s ease-out 2s infinite;
  }
  
  .chevronUp:before,
  .chevronUp:after {
	content: ' ';
	position: absolute;
	top: 0;
	height: 100%;
	width: 51%;
	background: rgba(123, 235, 198, 0.45);
  }
  
  .chevronUp:before {
	left: 0;
	transform: skew(30deg, 0deg);
  }
  
  .chevronUp:after {
	right: 0;
	width: 50%;
	transform: skew(-30deg, 0deg);
  }
  
