
body {
    background-image:url('./../images/wooden-texture-rustic-wood-background-260nw-320657402.jpg');
    background-size:100%;
    background-repeat: repeat-y;
    background-attachment: fixed;
    height:100%;
	width:100%;
}
.left {
	-moz-transform: scaleX(-1);
	-o-transform: scaleX(-1);
	-webkit-transform: scaleX(-1);
	transform: scaleX(-1);
	filter: FlipH;
	-ms-filter: "FlipH";
}
.right {
	-moz-transform: scaleX(1);
	-o-transform: scaleX(1);
	-webkit-transform: scaleX(1);
	transform: scaleX(1);
	filter: FlipH;
	-ms-filter: "FlipH";
}
#bee {
	transition: transform .1s;
	z-index: 15;
}
.background{
	margin: 3%;
}
.aside {
	max-width: 700px;
}
.home {
	position: relative;
	width: 100%;
	height: 600px;
	z-index: 11;
	border-radius: 4px;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	-khtml-border-radius: 4px;
	background: -moz-linear-gradient(-45deg, rgba(151, 228, 202, 0.4) 0%, rgba(151, 228, 202, 0.4) 100%);
	background: -webkit-linear-gradient(-45deg, rgba(151, 228, 202, 0.4) 0%, rgba(151, 228, 202, 0.01) 100%);
	background: linear-gradient(135deg, rgba(151, 228, 202, 0.4) 0%, rgba(151, 228, 202, 0.01) 100%);
	box-shadow: 10px 10px 15px rgba(0, 0, 0, 0.05);
	margin-top: 5%;
}

.home:before {
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	box-shadow: 10px 10px 15px rgba(0, 0, 0, 0.05);
	background: -moz-linear-gradient(-45deg, rgba(151, 228, 202, 0.4) 0%, rgba(151, 228, 202, 0.4) 100%);
	background: -webkit-linear-gradient(-45deg, rgba(151, 228, 202, 0.4) 0%, rgba(151, 228, 202, 0.01) 100%);
	background: linear-gradient(135deg, rgba(151, 228, 202, 0.4) 0%, rgba(151, 228, 202, 0.01) 100%);
	border-radius: 0 0 4px 0;
	-moz-border-radius: 0 0 4px 0;
	-webkit-border-radius: 0 0 4px 0;
	-khtml-border-radius: 0 0 4px 0;
}
.slimScrollBar {
	height: 50px;
}
.slimScrollBar, .slimScrollRail{
	margin-top: 5%;
}
.home:after {
	content: '';
	position: relative;
	left: -15px;
	top: -15px;
	width: 100%;
	height: 100%;
	max-height: 600px;
	background: -moz-linear-gradient(-45deg, rgba(151, 228, 202, 0.4) 0%, rgba(151, 228, 202, 0.4) 100%);
	background: -webkit-linear-gradient(-45deg, rgba(151, 228, 202, 0.4) 0%, rgba(151, 228, 202, 0.01) 100%);
	background: linear-gradient(135deg, rgba(151, 228, 202, 0.4) 0%, rgba(151, 228, 202, 0.01) 100%);
	border-radius: 4px;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	-khtml-border-radius: 4px;
}
.card-wrap{
	width: auto;
	height: 100%;
	padding-bottom: 5%;
	overflow: auto;
	margin: 1px;
	background-image: url(./../images/greige-background.jpg);
	z-index: 11;
	margin-top: 5%;
	margin-right: 0;
	
}
.home .profile {
	padding: 210px 50px 50px 50px;
	position: relative;
	height: 100%;
    background-image: url(./../images/greige-background.jpg);
	text-align: center;
	z-index: 10;
	border-radius: 4px;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	-khtml-border-radius: 4px;
}

.home .profile .small-background {
	position: absolute;
	overflow: hidden;
	left: 0;
	top: 0;
	width: 100%;
	height: 300px;
	background-repeat: no-repeat;
	background-position: center center;
	background-size: cover;
	border-radius: 4px 4px 0 0;
	-moz-border-radius: 4px 4px 0 0;
	-webkit-border-radius: 4px 4px 0 0;
	-khtml-border-radius: 4px 4px 0 0;
}

.home .profile .small-background:before,
.home .profile .small-background:after {
	content: '';
	position: absolute;
	bottom: -198px;
	width: 700px;
	height: 200px;
}

.home .profile .image {
	margin: 0 0 20px 0;
	position: relative;
	display: inline-block;
	width: 140px;
}

.home .profile .image:before {
	content: '';
	position: absolute;
	top: 10px;
	left: -10px;
	width: 100%;
	height: 100%;
	background: -moz-linear-gradient(-45deg, rgba(151, 228, 202, 0.4) 0%, rgba(151, 228, 202, 0.4) 100%);
	background: -webkit-linear-gradient(-45deg, rgba(151, 228, 202, 0.4) 0%, rgba(151, 228, 202, 0.01) 100%);
	background: linear-gradient(135deg, rgba(151, 228, 202, 0.4) 0%, rgba(151, 228, 202, 0.01) 100%);
	border-radius: 100%;
	-moz-border-radius: 100%;
	-webkit-border-radius: 100%;
	-khtml-border-radius: 100%;
}

.home .profile .image img {
	position: relative;
	display: block;
	width: 100%;
	height: auto;
	border: 3px solid #685E55;
	border-radius: 100%;
	-moz-border-radius: 100%;
	-webkit-border-radius: 100%;
	-khtml-border-radius: 100%;
}

.home .profile .title {
	margin: 0 0 10px 0;
	font-size: 38px;
	color: #D1CB7A;
	text-shadow:  0 0 10px rgba(0, 0, 0, 0.4);
	line-height: 38px;
	font-weight: 400;
}

.home .profile .subtitle {
	margin: 0 0 15px 0;
	font-size: 20px;
	text-shadow:  0 0 10px rgba(0, 0, 0, 0.4);
	color: #D1CB7A;
	line-height: 20px;
	font-weight: 400;
}

.home .profile .social a {
	margin: 0 6px;
	display: inline-block;
	vertical-align: middle;
	color: #D1CB7A;
}

.home .profile {
	font-size: 30px;
	color: #D1CB7A;
	text-shadow:  0 0 10px rgba(0, 0, 0, 0.4);
	transition: all 0.3s ease 0s;
	-moz-transition: all 0.3s ease 0s;
	-webkit-transition: all 0.3s ease 0s;
	-o-transition: all 0.3s ease 0s;
}

.home .profile .social a:hover .ion, .home .profile .social a:hover, .home .profile .social a:hover .fas {
	color: #D1CB7A;
}

.home .profile .lnk.active.discover {
	transform: scaleX(-1);
	-webkit-transform: scaleX(-1);
	-moz-transform: scaleX(-1);
	-o-transform: scaleX(-1);
}
.about-title{
	padding: 2%;
	margin-bottom: 2%;
	}
.menu{
  	font-size: 16px;
	padding-bottom: 7%;
	margin: 2%;
	border:none	;
	color: 151, 228, 202, 0.4;
	background: -moz-linear-gradient(-45deg, rgba(151, 228, 202, 0.4) 0%, rgba(151, 228, 202, 0.01) 100%);
	background: -webkit-linear-gradient(-45deg, rgba(151, 228, 202, 0.4) 0%, rgba(151, 228, 202, 0.01) 100%);
	background: linear-gradient(135deg, rgba(151, 228, 202, 0.4) 0%, rgba(151, 228, 202, 0.01) 100%);
}
h1{
	color: #D1CB7A;
	text-shadow: 2px 2px #171717;
}
.icon {
	height: 50px;
  }
#menu-container {
	margin-top: 5%;
	height: 84px;
}
row {
	margin: 0;
	
}
a {
    color: #D1CB7A;
    margin: 0 6px;
	display: inline-block;
	vertical-align: middle;


}
a:hover{
	color: #D1CB7A;
}

footer{
	position: relative;
	width: 100%;
	z-index: 11;
	border-radius: 4px;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	-khtml-border-radius: 4px;
	margin-top: 5%;
	height: 148px;
}
footer:before {
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	border-radius: 0 0px 4px 0;
	-moz-border-radius: 0 0 4px 0;
	-webkit-border-radius: 0 0 4px 0;
	-khtml-border-radius: 0 0 4px 0;
}

footer:after {
	content: '';
	position: absolute;
	left: -15px;
	top: -15px;
	width: 100%;
	height: 100%;
	border-radius: 4px;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	-khtml-border-radius: 4px;
}
.menu-card{
	content: '';
	position: absolute;
	background-color: #685E55;
	opacity: 0.6;
	width: 98%;
	z-index: 12;
	text-align: center;
	margin-left: 15px;

	
}
.menu {
	padding-bottom: 7%;
	background: #171717;
	margin: 2%;
	color:  #D1CB7A;
	text-shadow:  0 0 10px rgba(0, 0, 0, 0.4);
	background: -moz-linear-gradient(-45deg, rgba(151, 228, 202, 0.4) 0%, rgba(151, 228, 202, 0.01) 100%);
	background: -webkit-linear-gradient(-45deg, rgba(151, 228, 202, 0.4) 0%, rgba(151, 228, 202, 0.01) 100%);
	background: linear-gradient(135deg, rgba(151, 228, 202, 0.4) 0%, rgba(151, 228, 202, 0.01) 100%);
	text-align: justify;
	padding-left: 2px;
	height: 60px;
	width: 10%;
	margin: 2%;
	transition: all .3s ease;
	border: none;
	box-shadow: 0 0 8px rgba(0, 0, 0, 0.6) inset;
	box-shadow: 10px 10px 15px rgba(0, 0, 0, 0.05);
}
button, button:active, button:visited, button:focus {
	border: .5px solid rgb(151, 228, 202);
}
:focus {
    outline: none;
}
@media (max-width: 1000px) {
	#menu-container {
		margin-top: 1%;
		margin-bottom: 3%;
		height: 84px;
	}
	.card-inner{
		margin-left: 0;
		margin-right: 0;

	}
	.app{
		margin-top: 15%;
	}
	.menu {
		width: 18%;
		margin: 1%;
		height: 75%;
	}
	.links {
		vertical-align: baseline;
	}
}

@media (max-width: 750px) {
.menu-card{
	margin-left: 0;
	margin-bottom: 3%;
	margin-top: 1%;
}
.menu {
	width: 18%;
	margin: 1%;
	height: 85%;	
}
.icon {
	height: 30px;
  }
}