/* loaders and circle css */
.background {
	color: rgba(51, 37, 25, 0.85)
}

.preloader .spinner .double-bounce1,
.preloader .spinner .double-bounce2 {
	background: rgba(123, 235, 198, 0.85);
}

.lnk:hover,
.button:hover {
	color: #D1CB7A;
	animation: pulse 1s infinite;
}

.lnk:hover .ion,
.button:hover .ion {
	color: #D1CB7A;
}

.lnk:hover .arrow:before,
.button:hover .arrow:before,
.lnk:hover .arrow:after,
.button:hover .arrow:after {
	background: #D1CB7A;
}

input:focus,
textarea:focus,
button:focus {
	border-bottom: 1px solid rgba(123, 235, 198, 0.85);
}

button:hover {
	border-bottom: 1px solid rgba(123, 235, 198, 0.85);
}

.header .top-menu ul li:hover a,
.header .top-menu ul li.active a {
	color: rgba(123, 235, 198, 0.85);
}

.header .top-menu ul li:hover a .icon,
.header .top-menu ul li:hover a .link {
	animation: pulse 1s infinite;
}

.header .top-menu ul li:hover a .icon,
.header .top-menu ul li.active a .icon,
.header .top-menu ul li:hover a .link,
.header .top-menu ul li.active a .link {
	color: rgba(123, 235, 198, 0.85);
}

.card-started:after {
	background: -moz-linear-gradient(-45deg, rgba(151, 228, 202, 0.4) 0%, rgba(151, 228, 202, 0.4) 100%);
	background: -webkit-linear-gradient(-45deg, rgba(151, 228, 202, 0.4) 0%, rgba(151, 228, 202, 0.01) 100%);
	background: linear-gradient(135deg, rgba(151, 228, 202, 0.4) 0%, rgba(151, 228, 202, 0.01) 100%);
}

.card-started .profile .image:before {
	background: -moz-linear-gradient(-45deg, rgba(151, 228, 202, 0.4) 0%, rgba(151, 228, 202, 0.4) 100%);
	background: -webkit-linear-gradient(-45deg, rgba(151, 228, 202, 0.4) 0%, rgba(151, 228, 202, 0.01) 100%);
	background: linear-gradient(135deg, rgba(151, 228, 202, 0.4) 0%, rgba(151, 228, 202, 0.01) 100%);
}

.card-started .profile .subtitle {
	color: #D1CB7A;
}

.card-started .profile .social a:hover .ion,
.card-started .profile .social a:hover .fab,
.card-started .profile .social a:hover .fas {
	color: rgba(123, 235, 198, 0.85);
	animation: pulse 1s infinite;
}

.typed{
	background: linear-gradient(135deg, rgb(209,203,122,0.65) 0%, rgba(123, 235, 198, 0.45) 100%);
	border: 10px double #3e4148;
}

.content .title:before {
	background: -moz-linear-gradient(-45deg, rgba(151, 228, 202, 0.4) 0%, rgba(151, 228, 202, 0.4) 100%);
	background: -webkit-linear-gradient(-45deg, rgba(151, 228, 202, 0.4) 0%, rgba(151, 228, 202, 0.01) 100%);
	background: linear-gradient(135deg, rgba(151, 228, 202, 0.4) 0%, rgba(151, 228, 202, 0.01) 100%);
}

.service-items .service-item .icon {
	color: rgba(123, 235, 198, 0.85);
	background: -moz-linear-gradient(-45deg, rgba(151, 228, 202, 0.4) 0%, rgba(151, 228, 202, 0.4) 100%);
	background: -webkit-linear-gradient(-45deg, rgba(151, 228, 202, 0.4) 0%, rgba(151, 228, 202, 0.01) 100%);
	background: linear-gradient(135deg, rgba(151, 228, 202, 0.4) 0%, rgba(151, 228, 202, 0.01) 100%);
}

.pricing-items .pricing-item .icon {
	color: rgba(123, 235, 198, 0.85);
}

.pricing-items .pricing-item .feature-list ul li strong {
	background: rgba(123, 235, 198, 0.85);
}

.fuct-items .fuct-item .icon {
	color: rgba(123, 235, 198, 0.85);
}

.resume-title .icon,
.skill-title .icon {
	color: rgba(51, 37, 25, 0.85);
}

.resume-items .resume-item.active .date {
	color: rgba(123, 235, 198, 0.85);
}

.resume-items .resume-item.active .date:before {
	background: rgba(123, 235, 198, 0.85);
}

.skills-list ul li .progress .percentage {
	background-color:#3e4148; 
	background-image: linear-gradient(
	  -45deg, 
	  rgba(123, 235, 198, .5) 25%, 
	  transparent 25%, 
	  transparent 50%, 
	  rgba(123, 235, 198, .5) 50%, 
	  rgba(123, 235, 198, .5) 75%, 
	  transparent 75%, 
	  transparent
	);
	z-index: 1;
	background-size: 50px 50px;
	animation: move 2s linear infinite;
	border-top-right-radius: 8px;
	border-bottom-right-radius: 8px;
	border-top-left-radius: 20px;
	border-bottom-left-radius: 20px;
	overflow: hidden;
  }
  .animate > span:after {
	display: none;
  }

  .skills-list ul li:after, .animate > .percentage > span {
	animation: move 2s linear infinite;
  }

.content.works .filter-menu .f_btn.active {
	color: rgba(123, 235, 198, 0.85);
}

.box-item .image .info:before {
	background: -moz-linear-gradient(-45deg, rgba(151, 228, 202, 0.4) 0%, rgba(151, 228, 202, 0.4) 100%);
	background: -webkit-linear-gradient(-45deg, rgba(151, 228, 202, 0.4) 0%, rgba(151, 228, 202, 0.01) 100%);
	background: linear-gradient(135deg, rgba(151, 228, 202, 0.4) 0%, rgba(151, 228, 202, 0.01) 100%);
}

.post-box .blog-content blockquote {
	border-left: 2px solid rgba(123, 235, 198, 0.85);
}

.post-box .blog-content ul.list-style li:before {
	background: rgba(123, 235, 198, 0.85);
}

.post-box .post-comments li .comment-info .name h6 {
	color: rgba(123, 235, 198, 0.85);
}

.background.gradient {
	background: -moz-linear-gradient(-45deg, rgba(151, 228, 202, 0.4) 0%, rgba(151, 228, 202, 0.4) 100%);
	background: -webkit-linear-gradient(-45deg, rgba(151, 228, 202, 0.4) 0%, rgba(151, 228, 202, 0.01) 100%);
	background: linear-gradient(135deg, rgba(151, 228, 202, 0.4) 0%, rgba(151, 228, 202, 0.01) 100%);
}
 
#emailHelp {
	color: rgba(123, 235, 198, 0.85);
	font-size: 10px;
	
}
